html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* BACKGROUND VIDEO */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

#container {
  display: flex;
}

#textLogo {
  font-size: 60px;
}

#imageLogo {
  width: 150px;
}

h1 {
  font-family: "Exo 2";
  color: white;
  display: inline-block;
}
